<!doctype html>
<html lang="en">
  <head>
    <meta charset='utf-8' />
    <meta http-equiv='content-type' content='text/html; charset=utf-8' />

    <title>Meter - Data platform</title>

    {{ js_resources|indent(4)|safe }}

    {{ css_resources|indent(4)|safe }}

    {{ plot_script|indent(4)|safe }}

  </head>
  <body>
    <!-- A simple form for changing the graph -->
    <h1>Dear {{ name }}</h1>
    <p>Your average consumption was {{ meanWatt }} Watt, which costs around £{{ costDay }}. If you used the same every day, your annual bill would come to £{{ costYear }}. What do you think:</p>
    <form name="color_button" method='GET'>
        <select name="use_level">
            <option value="5"></option>
        </option>
        <option value="5"> I know that I pay less </option>
        <option value="4"> I might pay less </option>
        <option selected="selected" value="3"> Sounds about right </option>
        <option value="2"> I might pay more </option>
        <option value="1"> I know that I pay more. </option>
        </select>

        <p>The least you used at any point was at {{ minTime }} ( {{ minWatt }}).</p>
    <p>What do you think might have still been using electricity at this time?</p>

        <input type="text" name="baseline" value="{{ baseline }}">


    <p>Your peak consumption was {{ maxWatt }} at {{ peakTime }}. Remember what that might have been?</p>

        <input type="text" name="peak" value="{{ peak }}">

        Color:
        <select name="color">
            <option value="Red">Red</option>
            <option value="Green">Green</option>
            <option value="Blue">Blue</option>
            <option selected="selected" value="Black">Black</option>
        </select>
        <br>
        From:
        <input type="text" name="_from" value="{{ _from }}">
        <br>
        To:
        <input type="text" name="to" value="{{ to }}">
        <br>
        MetaID:
        <input type="text" name="metaID" value="{{ metaID }}">
        <br>
        <button type="submit">Submit</button>
    </form>
    {{ plot_div|indent(4)|safe }}
  </body>
</html>
