*_ini.*
db_ini.*
*.pyc
*.swp
.DS_store
.temp
Data/
apk/
letters/address*
flash*/
emails/tempEmail.htmail
emails/email_personal.html
emails/17_03_MeterReading.html
emails/17_03_YourTimeHasCome.html
emails/17_04_workshop_invite2.html
emails/17_05_CH_invite.html
emails/CH_reminder.html
emails/infoEnergy
sql_output.txt
